.container{
    max-width:80%;
    background-color: rgb(201, 223, 224);
    padding: 34px;
    margin:auto;
    font-size: 23px;
    margin-left: 2%;

}

button{
    color: #090909;
    background-color: rgb(243, 226, 207);
    border-color: black;
    border-radius: 0;
    border-width: 0;
    border-style: groove;
    padding: 10px;
    width: 60%;
    margin-top: 0%;
    margin-left: 5%;
    text-decoration-color: #a1a1a1;
    font-size: 30px;
}




