body{
    background: linear-gradient(100deg, green,blue);
    margin: 0;
    padding: 0;
  }
  .whole{
    margin: 0;
    padding: 0;
    font-family: monteserrat;
    height: 100vh;
    overflow: hidden;
    border: 1rem solid black;
  }
  .sign{
    border: .1rem solid black;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .center{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    border:.1rem solid black;
    border-radius: 10px;
    
  }
  .bold{
    color: white;
  }
  .center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
  }
  .center form{
    padding:0 40px;
    box-sizing: border-box;
  }
  form .txt{
    position:relative;
    border-bottom: 2px solid silver;
    margin: 30px 0;
  }
   .txt input{
    width: 100%;
    padding:0 5px ;
    height: 40px;
    font-size:16px ;
    border: none;
    background:none ;
    outline: none;
  }
  .done{
    color:white
  }
    .txt span::before{
      content: '';
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      height:2px ;
      background: #2691d9; 
      transition: .5s;
    }
    .txt input:focus ~ span::label ,
    .txt input:valid ~ span::label{
        top: -5px;
        color: #2691d9;
    }

    .txt input:focus ~ span::before ,
    .txt input:valid ~ span::before{
      width: 100%;}
  .pass{
       margin:  -5px 0 20px 5px;
       color: #a6a6a6;
       cursor: pointer;
      }
  .pass:over{
    text-decoration: underline;
  }
  input[type="submit"]{
    width:100% ;
    height: 50px;
    border:1px solid ;
    background: #2691d9;
    border-radius: 50px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor:pointer;
    outline: none;
  }
  input[type="submit"]:hover{
    border-color:#2691d9;
    transition: .5s; 
  }
  .signup{
    margin:30px 0 ;
    text-align:center ;
    font-size: 16px;
    color:silver;
  }
  .signup a{
    color: #2691d9;
    text-decoration: none;
  }
  .signup a:hover{
    text-decoration: underline;
  }
  .heading{
    display: flex;
    width: 100%;
    position:relative;
    background: linear-gradient(120deg, darkgreen , white);
    justify-content: center;
    align-items: center;
  }
  .logo img{
    border-radius: 20%;
    margin: 3px;
  }
  .logo{
    background-color: white;
  }
  .headline{
    color: white;
    font-size: 2rem;
    scale: 1;
    flex-grow: 1;
    padding-left: 4vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .login{
    margin-right: 6vw;
    background-color: antiquewhite;
    border: 2px double blue;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 3px 3px 3px 3px;
    scale: 1;
    transition: scale 0.2s ease;
    cursor: pointer;
  }
  .login:hover{
    scale: 1.2;
  }
  .login a:hover{
    color: orange;
  }
  .login:active{
    scale: 0.95;
  }
  .login a{
    text-decoration: none;
  }
  .big {
    border-width: 6px;
    block-size: 2rem;
    max-block-size: 500rem;
  }
  .header {
    display: flex;
    min-width: min-content;
    align-items: center;
    margin: 0px 30px 20px 30px;
    position: sticky;
    top: 5px;
    justify-items: center;
  }
  
  .item2 {
    color: black;
    flex-grow: 1;
    font-size: 4rem;
  }
  .big {
    border-width: 6px;
    block-size: 2rem;
    max-block-size: 500rem;
  }
  .header {
    display: flex;
    min-width: min-content;
    align-items: center;
    margin: 0px 30px 20px 30px;
    position: sticky;
    top: 5px;
    justify-items: center;
  }
  
  .item2 {
    color: black;
    flex-grow: 1;
    font-size: 4rem;
  }
  
  .item3 {
    border: 1px solid white;
    backdrop-filter: brightness(60%);
    backdrop-filter: blur(15px);
    text-decoration: none;
    padding: 5px;
    border-radius: 10%;
    font-size: 20px;
    margin: 20px;
    color:black;
  
  }
  